{% extends "blogs/base.html" %}
{% load bootstrap4 %}
{% block page_header %}
<h2>Posts</h2>
{% endblock page_header %}

{% block content %}
<ul>
    {% for post in posts %}
    <div class="card_mb_3">
        <h4 class="card-header">
            {{post}}<small><a href="{% url 'blogs:edit_post' post.id %}"> Edit post</a></small></h4>
            <div class="card-body">
                <small>{{ post.date_added|date:'M d, Y H:i' }}</small>
                <p>{{post.text}}</p>
                <p class="text-info">By {{post.author}}</p>
            </div>
        </div>
        {% empty %}
        <li>No posts have been added yet.</li>
        {% endfor %}
    </ul>
    <h3><a href="{% url 'blogs:new_post' %}"> new post</a></h3>
    {% endblock content %}